:root {
  --background-color: bisque;
  --text-color: black;
  --extremely-common-color: #81f681;
  --very-common-color: #cbffb5;
  --common-color: #defed2;
  --uncommon-color: #fdfdde;
  --very-uncommon-color: #fdb2b2;
  --rare-color: #fd8c8c;
  --very-rare-color: #ff6969;
}

#submit-button,
#quote-button {
  width: 28rem;
}

#past-searches-line {
  font-size: 30px;
  display: none;
  cursor: pointer;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./icons/rainbow11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
}

#rest-of-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  background-color: bisque;
}

#footer-info {
  position: fixed;
  bottom: 0;
}
#key-container {
  margin-bottom: 5px;
  display: none;
}

#image-of-key {
  border-radius: 15px;
  margin-bottom: 5px;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

#stuff-on-top-of-the-background-image {
  position: relative;
  z-index: 1;
}

#app-description-line {
  margin-top: 10px;
}

#title-text {
  background-color: white;
  border-radius: 15px;
  text-align: center;
  font-size: 75px;
}

#input-field {
  background-color: white;
  font-size: 30px;
}

#clear-past-searches-button {
  display: none;
  width: 100px;
  font-size: 15px;
}

.past-search-row {
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
}

#language-icon {
  width: 20px;
  height: 20px;
}

#languages-container {
  display: none;
  font-size: 18px;
}

#word-frequency-display {
  font-size: 30px;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px grey;
  display: none;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.hide {
  display: none;
}

.extremely-common {
  background-color: var(--extremely-common-color);
}

.very-common {
  background-color: var(--very-common-color);
}

.common {
  background-color: var(--common-color);
}
.uncommon {
  background-color: var(--uncommon-color);
}
.very-uncommon {
  background-color: var(--very-uncommon-color);
}
.rare {
  background-color: var(--rare-color);
}
.extremely-rare {
  background-color: var(--very-rare-color);
}
.error {
  background-color: white;
}

#word {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
  font-size: 30px;
  box-shadow: 5px 5px 5px grey;
  opacity: 0;
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1200px) {
  #submit-button,
  #quote-button {
    width: 24rem;
  }
}
@media (max-width: 991px) {
  #submit-button,
  #quote-button {
    width: 19rem;
  }
}
@media (max-width: 767px) {
  #submit-button,
  #quote-button {
    width: 13rem;
  }
  #title-text {
    font-size: 40px;
  }
}
@media (max-width: 550px) {
  #languages-container {
    display: none;
    font-size: 10px;
  }
  #submit-button,
  #quote-button {
    width: 13rem;
  }

  #app-description-line {
    margin-top: 10px;
    font-size: 10px;
  }
  #input-field {
    font-size: 15px;
  }
  #past-searches-line {
    font-size: 15px;
  }
  #word-frequency-display {
    font-size: 15px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
  }
  #word {
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 3px 3px 3px grey;
  }
  .past-search-row {
    font-size: 8px;
  }
}
@media (max-width: 450px) {
  #submit-button,
  #quote-button {
    width: 12rem;
  }
}
@media (max-width: 421px) {
  #submit-button,
  #quote-button {
    width: 11rem;
  }
}
@media (max-width: 389px) {
  #submit-button,
  #quote-button {
    width: 10rem;
  }
}
